#contenido{
  max-width: 900px;
  margin: 0 auto;
}
body{
	font-family: 'Dancing Script';
  font-size: 1em;
  background-color: black;
}
.cabecera{
  color: white;
  background-color: #5b7989;
  align-items: center;
  padding: 0.5em 0;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  width: 100%;
}
.cabecera h1{
  text-align: center;
  padding: 0 1em;
  -webkit-text-shadow: 2px 2px #02010a;
  line-height: 1.3em;
}
.enlaces ul{
  padding-right: 20px;
  list-style: none;
  text-align: center;
}
.enlaces ul li{
  display: inline-block;
}
.cabecera ul li a{
  color: white;
  font-size: 1.5em;
  display: block;
  padding: 0 0.3em;
}
.actual {
  text-decoration: none;
}
.galeria{
  background-color: #d5c75f;
  align-items: center;
}
.galeria div{
  padding: 5% 10%;
}
.galeria img{
  box-shadow: 2px 2px #02010a;
  width: 100%;
}
.f1{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.f2, .f4, .f6{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.f3{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}
.footer{
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  padding: 2% 3%;
}
.footer div{
  padding: 0 1.5%;
  width: 100%;
}
.footer a{
  color: black;
}
.footer img{
  width: 1em;
  height: 1em;
}
@media (min-width: 900px){
  .cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
  }
  .cabecera h1{
    padding: 0 5%;
    text-shadow: 2px 2px #02010a;
  }
  .galeria{
    align-items: center;
    padding: 1%;
  }
  .galeria div{
    display: inline-block;
    width: 31%;
    padding: 1%;
  }
  .footer{
    display: flex;
    justify-content: space-between;
  }
}
/*-------------------FIN MEDIA-------------------*/
