#contenido{
  max-width: 900px;
  margin: 0 auto;
}
body{
	font-family: 'Dancing Script';
  font-size: 1em;
  background-color: black;
}
img{
  box-shadow: 2px 2px  #02010a;
}
.cabecera{
  color: white;
  background-color: #5b7989;
  align-items: center;
  padding: 0.5em 0;
  border-radius: 10px 10px 0 0;
  webkit-border-radius: 10px 10px 0 0;
  width: 100%;
}
.cabecera h1{
  text-align: center;
  padding: 0 1em;
  text-shadow: 2px 2px #02010a;
  line-height: 1.3em;
}
.enlaces ul{
  padding-right: 20px;
  list-style: none;
  text-align: center;
}
.enlaces ul li{
  display: inline-block;
}
.cabecera ul li a{
  color: white;
  font-size: 1.5em;
  display: block;
  padding: 0 0.3em;
}
.actual {
  text-decoration: none;
}
.img_principal{
  background-color: #82c3a6;
  padding: 5% 10%;
  display: center
}
.img_principal img{
  width: 100%;
}
.img_secundarias{
  background-color: #d5c75f;
  align-items: center;
  text-align:center;
}
.img_secundarias div{
  padding: 3% 5%;
}
.img_secundarias img{
  border: solid 1px #02010a;
  width: 90%;
}
.img_secundarias a{
  color: black;
  font-size: 1.5em;
}
.c1 img{
  transition: rotate, 1s;
}
.c1 img:hover{
  box-shadow: 2px 2px #82c3a6;
  border: solid 1px #82c3a6;
  transform: rotate(10deg);
}
.c2 img{
  transition: traslate, 1s;
}
.c2 img:hover{
  box-shadow: 2px 2px #82c3a6;
  border: solid 1px #82c3a6;
  transform: translate(20px,-5px);
}
.footer{
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  webkit-border-radius: 0 0 10px 10px;
  padding: 2% 3%;
}
.footer div{
  padding: 0 1.5%;
  width: 100%;
}
.footer a{
  color: black;
}
.footer img{
  width: 1em;
  height: 1em;
}
@media (min-width: 900px){
  .cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
  }
  .cabecera h1{
    padding: 0 5%;
    text-shadow: 2px 2px #02010a;
  }
  .img_secundarias{
    display: flex;
    justify-content: space-around;
  }
  .img_secundarias img{
    width: 100%;
  }
  .footer{
    display: flex;
    justify-content: space-between;
  }
}
/*-------------------FIN MEDIA-------------------*/
